body{
    font-family: sans-serif;
}
img#logo{
    width: 400px;
}

hr.solid{
   border: 1px solid;
}

nav{
    text-align: center;
    border: 3px solid green;
}

div{
    text-align: center;
    border: 3px solid green;
}

ul{
    list-style:none;
}

img.product-img{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

img.product-detail-img{
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

main{
    margin: auto;
    width: 35%;
    border: 3px solid green;
}


