body{
    font-family: sans-serif;
    margin: 2%;
}



h1{
    font-weight:100;
    font-size:35px;
}


h2{
    font-size: 22px;
    font-weight: 300;
}

h3{
    font-weight: 200;
    font-size: 25px;
    line-height: 20px;
}

h4{
    font-weight:100;
    font-size: 25px;
}

h5{
    font-weight:400;
    font-size: 20px;
    line-height: 0px;
}



/*---------header-----------*/

.header-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.logo-box{
    flex-basis: 25%;
}

.right-box{
    flex-basis: 75%;
    height: 200px;
}

.nav-box{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

img#logo{
    width: 400px;
    text-align: left;
}

hr.solid{
   border: 3px solid;
}

.page-header-text{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 5px;
}

/*navigation menu items*/

a.menu-link{
    color: black;
    text-decoration: none;
}

#current-page{
    font-weight:bold;
    background-color: yellow;
}


.menu-title:hover{
    font-weight: 800;
    background-color: yellow;
}


/*---------product gallery page---------*/

.product-gallery-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px;
}

.product-box{
    width:290px;
    padding: 8px;
}

img.product-img{
    width: auto;
    height: 285px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.product-box:hover{
    background-color: yellow;
    font-weight: bold;
}

.product-box h3.product-title:hover{
    font-weight: bold;
}

a.product-link{
    color: black;
    text-decoration: none;

}

/*---------product detail page---------*/

.product-container{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin: 50px;
}


#product-detail-img{
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}


.product-details-box{
    margin: 45px;
    padding: 15px;
}

form{
    font-weight:200;
    font-size: 22px;
}

label{
    font-weight:200;
    font-size: 22px;
    line-height: 35px;
}

#glazeOptions, #packOptions{
    width:98%;
    height:35px;
    margin-top:10px;
    margin-bottom: 20px;
}

#base-price{
    font-weight:600;
    margin: 10px;
}

.price-button-container{
    display: flex;
    justify-content: space-between;
}

button{
    font-weight:600;
    font-size:22px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin: 10px;
    background-color: yellow;
    border-width: 3px;
}

/* got rid of margin for this particular button for correct right alignment */
#add-to-cart{
    margin: 0px;
}

/*---------cart page---------*/

.cart-container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
}

img.cart-product-img{
    width: 150px;
    height:150px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

/* -----cart item template items-----*/
.cart-item{
    width: 750px;
    padding: 12px;
}

.cart-item-container{
    display: flex;
    flex-flow:row;
    width: 750px;
}

.cart-item-img-box{
    flex: 1;
}

.cart-item-descrip-box{
    border-width: 10px;
    margin-left: 30px;
    flex: 5;
}

.cart-item-price-box{
    margin-right: 25px;
}
/*-------------------------------*/

.cart-line-divider{
    width: 765px;
}

.cart-total-price-container{
    display: flex;
    width: 570px;
}

.total-label-left-box{
    flex: 4;
}

.total-price-right-box{
    margin-right: 30px;
}

#remove-text{
    color: black;
    border: none;
    border-bottom: black solid 2px;
    background-color: white;
    font-weight: 400;
    font-size:16px;
    padding: 0;
    margin: 0;

}
